header {
    width: 100vw;
    height: 150px;
    background-color: rgb(34, 67, 177);
    color: white;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
}

.navItems {
    display: flex;
    list-style-type: none;
    column-gap: 25px;
}